* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Roboto, Arial;
    font-weight: 400;
}
body.dark-theme {
    color: white;
    background-color: #222;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.algorithm-results-list {
    list-style: none;
}
.algorithm-results {
    display: flex;
    margin-top: 10px;
}
.algorithm-results .algorithm-results-measure {
    flex: 1;
    padding: 15px;
}

.algorithm-results-measure .algorithm-results-chart-container {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.algorithm-results-measure .algorithm-results-chart-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 400;
}

body.dark-theme .algorithm-results-chart-container {
    background-color: #333;
}